.filterContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.headTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:darkviolet;
    font-size: larger;
}
.headTitle2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:darkred;
    font-size: larger;
}
.filterContainer .selectGenre{
    border-radius: 3.4px;
    border: magenta inset 10px;
    cursor: pointer;
}

.filterContainer .selectOrigin{
    border: red outset 10px;
    cursor: pointer;
    border-radius: 1.3em;
}